@use '../styles/tokens' as *;
@use '../styles/mixins' as *;

:host {
  display: block;
  margin: 0;
  padding: 0;
}

:host, app-root {
  width: 100%;
}

.main-content {
  flex: 1;
  margin: 0;
  padding: 0;
}
